@model TipoCuentaModel
@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}

<h1>Crear Tipos de Cuenta</h1>

<h5>El tipo de cuenta se refiere a como podemos agrupar nuestras cuentas.
    Ejemplos: Prestamos, Tarjetas de credito, etc</h5>

    <form asp-controller="TiposCuentas" asp-action="Crear">
        <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" id="Nombre" name="Nombre" class="form-control"/>
        </div>


        <button type="submit" class="btn btn-primary">Enviar</button>

    </form>
